:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive !important;
}
.secciones {
  position: fixed;
  height: 250px;
  width: 57px;
  top: 30%;
  left: 0.5rem;
  z-index: 20;
}
.logo {
  height: 60%;
}
.secciones a {
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  max-height: 50px;
}
.container {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0 0;
}

ul {
  list-style: none;
}

.ingredientes ul {
  list-style: disc;
}

.tarjeta_elemento {
  border-style: solid;
}

.imagen {
  width: 100%;
}

.video_elemento {
  width: 60%;
}
.video_elemento iframe {
  width: 100%;
  height: 100%;
}

.secciones a:hover {
  width: 200%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

@media only screen and (max-width: 790px) {
  .secciones {
    position: fixed;
    z-index: 30;
  }
}
