:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Architects Daughter", cursive !important;
}
.secciones {
  position: fixed;
  height: 250px;
  width: 57px;
  top: 30%;
  left: 1rem;
  z-index: 20;
}
.logo {
  height: 60%;
}
.secciones a {
  height: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  max-height: 50px;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 0 0;
}

.lista_elementos ul {
  margin: 1rem 2rem 0 2.72rem;
  list-style: none;
}

.tarjeta_elemento {
  border-style: solid;
  margin: 10px 0px 40px 30px;
  padding: 0px 0px 30px 0px;
}

.titulo_elemento {
  text-align: center;
  margin: 10px 0px 50px 0px;
  font-size: 2.3rem !important;
}

.primera_seccion_elemento {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: 350px;
}

.seccion_elemento {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
  min-height: 350px;
}

.elemento_imagen {
  width: 40%;
}

.elemento_imagen img {
  width: 97%;
  padding: 5px;
}

.descripcion_elemento {
  width: 60%;
  padding: 0px 2rem 3rem 2rem;
}

.detalles {
  padding-left: 2rem;
  padding-top: 1rem;
  width: 35%;
}

.detalles ul {
  padding-left: 2rem;
}
.detalles ol {
  padding-left: 2rem;
}

.video_elemento {
  width: 60%;
}
.video_elemento iframe {
  width: 100%;
  height: 100%;
}

.secciones a:hover {
  width: 200%;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

@media only screen and (max-width: 790px) {
  .lista_elementos {
    margin: 1rem 1rem 0rem 1rem;
  }
  .tarjeta_elemento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 40px 0px;
  }
  .seccion_elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: center;
  }
  .elemento_imagen img {
    width: 100%;
  }
  .elemento_imagen {
    width: 100%;
  }
  .descripcion_elemento {
    width: 90%;
    text-align: center;
  }

  .detalles {
    width: 100%;
    margin: 0px 0px 30px 0px;
  }
  .video_elemento {
    width: 100%;
    height: 20rem;
  }

  
}
